@import '../theme.scss';

.btn {
  margin-top: 12px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 5px 1px $blue;
  }
  
  &_primary {
    background-color: $blue;
    color: white;
  }

  &_secondary {
    background-color: $grey;
    color: $blue;
  }
}